
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.card {
 
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
   
  
}
.right{
	padding-left:900px;
	
	
}
.name{
color:#A4E4F5;
}

.title {
  color: #A4E4F5;;
  font-size: 18px;
}
.img{
border-radius: 50%;
width: 200px;
height 200px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #A4E4F5;;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;;
}

button:hover, a:hover {
  opacity: 0.8;
}


a:link {
  color: red;
}


a:visited {
  color: #0000ff;
}


a:hover {
  color: blue;
}


a:active {
  color: blue;
}


.container{
   
      display:grid;
   
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft ";
      border: 2px solid white;
	 

  }
.nestedGrid{
  display:grid;
  grid-template-columns:50% 50%;
   grid-template-rows:50% 50%;
  border: 3px solid white;
 
  
}
.pb{
width:205px;
  height:50px;
  margin:10px;
 
}
#first{
font-size:30px;
  color:#A4E4F5;
    text-align: center;
	font-family:italic;
	
}
#blog{
  
font-size:30px;
  color:#A4E4F5;
    text-align: center;
}


#f{
background-color:gray;
  border-color:gray;
  height:40px;
 color:white;
    
}
.link{
display:block;
   margin:10px;
}
.go{
padding-right:150px;	
	
}
.form{
margin:10px;
 

}
header{
background-color:#00bfff;	
	
}
.red{
	
border-radius:15px;	
}
   #nestedGrid{
        display:grid;
        grid-template-columns:50% 50% ; 
        grid-template-rows:5x solid gray;
  }
      
      .pb{
      width:250px;
        height:150px;
         border: 1px solid gray;
        background-color:#00bfff;
        grid-column-gap:15px;
      }
    
  .box{
  
    border: 1px solid #017A9B	;
    background: #F8FA9D;
   
    }

  .header{
 
    grid-area:hd;
    background-color:white;
  }

  .footer{
    grid-area: ft; 
    background-color:#014052;
    color:white;
	text-decoration:underline;
    
  }
  .sidebar{
    grid-area: sd;
    background-color:white;
  }
  .content{
    grid-area: sd;
    background-color:white;
  }
